body {
  background-image: url("http://www.freephototextures.com/images/textures/wood/36.jpg");
  background-size: 1500px 800px;
  background-position-y: 1px;
  background-attachment: fixed;
  background-color: #F2F2F2;
}

.small_display {
  display: none;
}

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 1440px;
}

main:after {
  content: " ";
  display: block;
  clear: both;
}

nav {
  margin-bottom: 1.69492%;
  margin-top: 1.69492%;
  margin-left: 1.69492%;
}

nav a {
  color: #709667;
  font-size: 25px;
  font-family: "Oleo Script", cursive;
  text-decoration: none;
  margin: 0.84746%;
  padding-left: 5px;
  padding-right: 5px;
}

nav a:hover {
  color: #F2F2F2;
  border-radius: 10px;
  background-color: #709667;
}

header {
  background-image: url("https://scontent.xx.fbcdn.net/v/t31.0-8/14939982_10207486137576522_6833689799501846087_o.jpg?oh=3ace83989909559436500a461b30df68&oe=59FA9256");
  background-size: 1400px;
  background-position: center top;
  background-attachment: fixed;
  height: 600px;
  text-align: center;
}

header p {
  font-size: 300px;
  letter-spacing: 15px;
  font-family: "Great Vibes", cursive;
  color: #F2F2F2;
  margin: 0px;
  padding-top: 120px;
}

article {
  background-color: #709667;
  background-size: 1200px;
  color: #F2F2F2;
  font-family: "Oleo Script", cursive;
  font-size: 20px;
  padding-left: 8.47458%;
  padding-right: 8.47314%;
  padding-bottom: 1.69492%;
  padding-top: 1.69492%;
}

aside {
  clear: both;
  background-image: url("https://scontent.xx.fbcdn.net/v/t31.0-8/17966375_10213297162283773_8251644271423058536_o.jpg?oh=0d1ce441faf15d21b824ab8c36d24681&oe=59F394E4");
  background-size: 1800px;
  background-position: 65% 20%;
  background-attachment: fixed;
  height: 600px;
  text-align: center;
  font-family: "Great Vibes", cursive;
  padding-top: 10px;
  color: #F2F2F2;
}

aside h3 {
  letter-spacing: 5px;
  font-size: 70px;
  filter: brightness(125%);
}

aside li {
  filter: brightness(125%);
  text-align: center;
  list-style: none;
  margin: 20px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 4px;
}

aside ul {
  padding-left: 0px;
}

footer {
  text-align: center;
  padding: 1.69492%;
}

@media only screen and (max-width: 1200px) {
  body {
    margin: 0px;
  }
  header {
    background-position: 50% top;
    background-size: 800px;
    height: 350px;
  }
  header p {
    font-size: 150px;
    padding-top: 80px;
  }
  article {
    padding: 25px;
  }
  article p {
    color: white;
  }
  aside {
    background-size: 1200px;
    background-position: 60% top;
    height: 500px;
  }
  aside h3 {
    font-size: 60px;
  }
  aside li {
    font-size: 35px;
  }
}

@media only screen and (max-width: 513px) and (min-width: 367px) {
  header {
    background-position: 60% top;
    height: 200px;
  }
  header p {
    font-size: 90px;
    padding-top: 50px;
  }
  aside {
    background-size: 1010px;
    background-position: 55% bottom;
    height: 450px;
  }
  aside h3 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  aside li {
    font-size: 20px;
  }
  main {
    height: auto;
  }
  .small_hide {
    display: none;
  }
}

@media screen and (max-width: 366px) and (min-width: 15px) {
  main {
    display: none;
    height: auto;
  }
  .small_display {
    display: block;
  }
  .small_display h1 {
    color: white;
    text-align: left;
    font-family: "Great Vibes", cursive;
    padding: 10px;
  }
}
